.cont {
    background-color: gray;
    width: 60% !important;
    border-radius: 30px;
    padding: 5px;
  }
.admin_button {
    border-radius: 22px;
    border: none;
}
.yes {
 background-color: #7dd158;
 padding: 12px 16px;
 border-radius: 12px;
 border: none;
 color: #FFF;
}
.no {
 background-color: #e96c5a;
 padding: 12px 16px;
 border-radius: 12px;
 border: none;
 color: #FFF;
}

.downloaddata {
  background-color: #27b9ec;
  color: #FFF;
  border: none;
  padding: 12px 14px;
  border-radius: 8px;
}

.donbutton{
  background-color: #27b9ec;
  color: #FFF;
  border: none;
  padding: 12px 14px;
  border-radius: 8px;
}